{% extends "base.html" %}}

{% block content %}

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
     <a class="navbar-brand" href="#">KayShop</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
     </button>
     <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Footwear Category
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Top</a>
                        <a class="dropdown-item" href="#">Trousers</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Caps</a>
                        <a class="dropdown-item" href="#">Footwear</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sell</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

     </div>
 </nav>
<h1>All Products</h1>
<div class="row container-fluid">
    {% for footwear in footwears %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{footwear.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{footwear.name}}<a href="#" class="btn btn-primary ml-2">View</a></h5>

<!--                <p class="card-text">${{product_list.price}}</p>-->
<!--                <p class="card-text">{{request.ser.username}}</p>-->
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}